@media screen and (max-width: 480px) {
    .btn-area {
        text-align: center;
        display: block;
        height: 100%;
        margin: 5px;
        width: 100%;
    }

    .mybtn {
        width: 50%;
    }
}

.navbar {
    background-color: #FFFFFF;
    top: 0;
}

.mybtn {
    margin: 10px;
    font-size: 20px;
    width: 200px;
    height: 100px;
}



